{% extends 'base.html.twig' %}

{% block title %}{{parent()}}About{% endblock %}

{% block body %}
<div class="container position-absolute top-0 start-0 ">
  <div class="row py-1 ">
    <div class="col-sm-4">

      <div class="card  ">
        <h5 class="card-title text-center">Facilities</h5>
        <img src="https://katakcomel.my/wp-content/uploads/2020/04/mukabbir_library.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">The facilities and services <br> WPC renders to the students, faculty .....</p>
          <a href="#" class="btn btn-primary">Show more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

      <div class="card">
        <h5 class="card-title text-center">Lab Infrastructure</h5>
        <img src="https://www.pscmr.ac.in/images/computers/cse3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">The Institute have developped well<br> equipped laboratories covering various featured...</p>
          <a href="#" class="btn btn-primary">Show more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

      <div class="card ">
        <h5 class="card-title text-center">Accomodaation</h5>
        <img src="https://rmd.ac.in/images/campus/hoster_3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">The college offers hostel facilities including<br> food and lodging for the boys only.... </p>
          <a href="{{path('web_accomodation')}}" class="btn btn-primary">Show more</a>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block javascripts %}
{% endblock %}