{% extends 'base.html.twig' %}
{% block title %}
{{parent()}}{{title}}
{% endblock %}
{% block stylesheets %}
{{parent()}}
<style>
    .pd {
        padding-top: 13%;

    }

    body {
        background-color: #2F4F4F;
    }
</style>
{% endblock %}
{% block body %}

<div class="container-fluid text-black pd" align="center">
    <div class="col-lg-4"></div>
    <form>
        <div class="col-lg-5 bg-light">
            <div>
                <h1>Add Notice<h1>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-6">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div class="col-md-5">
                    <label for="file">upload notice</label>
                    <input type="file" name="notice" id="notice" class="form-control">
                </div>
            </div>
            <div class="form-group ">
                <div>
                    <br>
                </div>
                <input type="submit" name="upload" value="upload" class="btn btn-success mr-4">
                <div>
                    <br>
                </div>
                <div>
                    <br>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </form>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
{% endblock %}