{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  <div class="navbar">
    <a href="#">Home</a>
    <div class="subnav">
      <a href="#">About </a>
      <!-- <div class="subnav-content">
      <a href="#company">Company</a>
      <a href="#team">Team</a>
      <a href="#careers">Careers</a>
    </div> -->
    </div>
    <div class="subnav">
      <button class="subnavbtn">Register </button>
      <div class="subnav-content">
        <a href="STU_REG.php">Student Registration</a>
        <a href="#">Teacher Registration</a>

      </div>
    </div>
    <div class="subnav">
      <button class="subnavbtn">Login <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="STU_LOGIN.php">Student Login</a>
        <a href="Teacher login.php">Teacher Login</a>

      </div>
    </div>
    <a href="#">Logout</a>
    <div class="div-menu-item1 "></div>

    <h1 class="d">
      Welcome to Women's polytechnic Chandernagore<br></h1>
    <h2>
      <marquee behavior="scroll" direction="up" scrollamount="1" height="50px">Admission Going on</marquee>
    </h2>



{% endblock %}
