{% extends 'back_end_base.html.twig' %}

{% block title %}{{parent()}}{{title}}{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="px-5 py-4 shadow">
                <form action=" " method="post">
                    
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="email">Book Title</label>
                        <input type="text" name="title"  class="form-control"  />
                      
                    </div>
        
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Author Name</label>
                        <input type="text"  class="form-control" name="author" />
                       
                    </div>
        

                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Publisher</label>
                      <input type="text"  class="form-control" name="publisher" />
                      
                  </div>
      

                  <div class="form-outline mb-4">
                    <label class="form-label" for="password">Edition</label>
                    <input type="text" class="form-control" name="edition" />
                    
                </div>
    

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">No Of Books Available</label>
                  <input type="text" class="form-control" name="no_of_book" />
                 
              </div>
  
        
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Add</button>
                    
                    
                    <!-- Register buttons -->
                   
                        
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}