{% extends 'base.html.twig' %}

{% block title %}{{parent()}}About{% endblock %}

{% block body %}
<div class="container position-absolute top-0 start-0 ">
    <div class="row py-1 ">
          <div class="card  ">
          <img src="https://lh5.googleusercontent.com/p/AF1QipOesHPBopgz7S8AapEHy-J8PSlAv4DV0x2CXVyk=100-h100-k-no" class="card-img-top" alt="...">
         <div class="card-body">
      
            <div class="sub-page-text-block">
                 <div class="sub-page-text-head">Hostel Facility </div>
                      <div class="sub-pageg-text-content">
                          <p>
                     The college offers four-storied hostel facility with an intake of 100 students with food and lodging for the boys only.
                       The hostel is having a playground, gymnasium, library and indoor games facilities.

                         </p>
                   </div>
                </div>
                 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                   <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
             </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}