{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Admission{% endblock %}

{% block stylesheets %}
   
    <link rel="stylesheet" type="text/css" href="/css/STU_REG.css">
{% endblock %}
{% block body %}

    <body class="back">
    <div class="main">
        <h1>Register Here</h1>
    </div>
    <div class="container">
        <form action="sign up.php" method="Post">

            <label for="">Enter user name:</label>
            <BR>
            <input type="text" name="user_name" id="user_name" placeholder=" NAME" require>
            <br>
            <br>

            <label> Choose semester:</label>

            <Select name="Sem" id="sem" require>
                <option value="CST">CST</option>
                <option value="ETC">ETC</option>
                <option value="ARCH">ARCH</option>


            </Select>
            <br><br>
            <label for="">Enter email</label>
            <br>
            <input type="email" name="email" placeholder="@gmail" id="NAME" required>
            <br><br>
            <label for="">password</label>
            <br>
            <input type="password" name="password" placeholder="password" id="NAME" required>
            <br><br>
            <label for="">Confirm Password</label>
            <br>
            <input type="password" name="confirm_password" placeholder="password" id="NAME" required>
            <br><br><br>
            <button>Submit</button>
        </form>
       
    </div>
</div>
</body>
{% endblock %}